Source: libflac
Section: libs
Priority: optional
Uploaders: Prince Kumar Dubey<prince.dubey@samsung.com>
Maintainer: Josh Coalson
Build-Depends: cdbs, libogg-dev, pkg-config, libtool
Standards-Version: 1.2.1
Homepage: http://flac.sourceforge.net/

Package: libflac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libFLAC (= ${binary:Version})
Description: FLAC is an Open Source lossless audio codec

Package: libflac-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libflac (= ${binary:Version})
Description: FLAC is an Open Source lossless audio codec

