#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/usr --disable-asm-optimizations --disable-dependency-tracking --disable-3dnow --disable-thorough-tests --disable-doxygen-docs --disable-xmms-plugin --disable-cpplibs

CFLAGS += -fvisibility=default -fPIC -W -Wall -Wextra
LDFLAGS += -fvisibility=default -Wl,--hash-style=both -Wl,--as-needed

clean::
	[ ! -f Makefile ] || make distclean
	rm -f libflac*.tar.bz2 libflac-*.tar.bz2.cdbs-config_list
